* {
    margin:20px;
    padding:20px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:#93C572;
}

.container{ 
width:100%;
height: 67vh;
background-color:#e8f4ea;
}